<h2>
    Login Page
</h2>
<form action="/Login" method ="POST">
        <input placeholder="User ID" name="ID" type="text" required>
        <input type="password" name="Password">
        <button type="submit">Login</button>
        <h3>Please check your ID and password again</h3>
</form>